<div class="container">
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="username" id="profileID" class="form-control" [(ngModel)]="username" name="username"/>
          <label class="form-label" for="form2Example1">Username</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="birthday" id="updateBday" class="form-control" [(ngModel)]="birthday" name="password"/>
          <label class="form-label" for="form2Example2">Birthday</label>
        </div>

        <div class="form-outline mb-4">
            <input type="age" id="updateAge" class="form-control" [(ngModel)]="age" name="age"/>
            <label class="form-label" for="form2Example2">Age</label>
        </div>

        <div class="form-outline mb-4">
            <input type="email" id="updateEmail" class="form-control" [(ngModel)]="email" name="email"/>
            <label class="form-label" for="form2Example2">Email</label>
        </div>
      
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="updateUser($event)">Update details</button>
    </form>
</div>   
<router-outlet></router-outlet>